@namespace CrahunComponents

    <button disabled="@IsLoading" @onclick="@(async () => await OnClick.InvokeAsync())" @attributes="AdditionalProperties" >
        @if (IsLoading)
        {
            <div class="d-flex">
                <span class="spinner-border ms-auto me-auto" role="status" style="color: lightgray">
                    <span class="sr-only">Loading...</span>
                </span>
            </div>
        }

        else
        {
            <text>@Text</text>
        }
    </button>

@code {
    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public EventCallback<bool> IsLoadingChanged { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback<bool> OnClick { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalProperties { get; set; }
}
