@using System.Text

@* Loaded data template *@

<table class="table @GetVisibilityStyle(!IsLoading)">
    @if (!IsLoading)
    {
        <thead>
            @Head
        </thead>
        <tbody>
            @ChildContent
        </tbody>
    }
</table>

@* Skeleton templates *@
<table class="table skeleton @GetVisibilityStyle(IsLoading)">
    @if (IsLoading)
    {
        <tbody>
            @if (SkeletonTemplate is null)
            {
                @for (int i = 0; i < 3; i++)
                {
                    <tr class="datagrid__row">
                        @for (int j = 0; j < NumberOfColumns; j++)
                        {
                            <td>
                                <div class="line"></div>
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                @SkeletonTemplate
            }
        </tbody>
    }
</table>


@code
{
    [Parameter] public int NumberOfColumns { get; set; } = 1;
    [Parameter] public RenderFragment Head { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment SkeletonTemplate { get; set; }
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public bool ShouldAnimate { get; set; }

    private string GetVisibilityStyle(bool isVisible)
    {
        StringBuilder stringBuilder = new StringBuilder();

        if (ShouldAnimate)
        {
            stringBuilder.Append("animate");
        }

        if (isVisible)
        {
            stringBuilder.Append(" visible");
        }

        else
        {
            stringBuilder.Append(" hidden");
        }

        return stringBuilder.ToString();
    }
}
