@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="@(() => isLoading= false)">Stop loading</button>

<SkeletonTable NumberOfColumns="4" IsLoading="isLoading">
    <ChildContent>
        <tr>
            <td>
                Value1
            </td>
            <td>
                Value2
            </td>
        </tr>
    </ChildContent>
    <Head>
        <tr>
            <th>
                Column1
            </th>
            <th>
                Column2
            </th>
        </tr>
    </Head>
</SkeletonTable>

@code{
    private bool isLoading = true;
}
