@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="@(() => isLoading= false)">Stop loading</button>

<SkeletonTable NumberOfColumns="4" IsLoading="isLoading">
    <ChildContent>
        <tr>
            <td>
                Value1
            </td>
            <td>
                Value2
            </td>
            <td>
                Value3
            </td>
            <td>
                Value4
            </td>
        </tr>
    </ChildContent>
    <Head>
        <tr>
            <th>
                Column1
            </th>
            <th>
                Column2
            </th>
            <th>
                Column3
            </th>
            <th>
                Column4
            </th>
        </tr>
    </Head>
</SkeletonTable>

<SkeletonCards IsLoading="isLoading">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header" data-simplebar>
                <h3 class="card-title">Title</h3>
            </div>
            <div class="card-body" data-simplebar>
                This is the body
            </div>
            <div class="card-footer text-right">
                This is the footer
            </div>
        </div>
    </div>
</SkeletonCards>

@code{
    private bool isLoading = true;
}
