@page "/LazyImage"

           <LazyImage ImageUrl="/zanahorias.jpg" Alternative="Name"
                           AdditionalClasses="img-responsive" AdditionalStyles="margin-right: -.5em">
                    <LoadingPlaceHolder>
                        <div class="text-center">
                            <div style="float:left; height: 150px; width: 150px; background-color: red" />
                        </div>
                    </LoadingPlaceHolder>
                </LazyImage>
