@page "/Upload"
@using System.IO


<div class="row">
    <div class="col-10">
        <DragDropUploadFile @ref="dragDropUploadFile" OnFileSelectionChanged="OnChange" ShowImage="true" InformationText="Sample to upload file with custom format" accept="image/*" />
    </div>
</div>
<div class="row">
    <div class="col-10">
        <button class="btn btn-primary" @onclick="ClearFile">Clear file</button>
    </div>
</div>

@code {
    DragDropUploadFile? dragDropUploadFile;
    string src;

    // Called when a new file is uploaded
    async Task OnChange(InputFileChangeEventArgs e)
    {
        using var stream = e.File.OpenReadStream();
        using var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        src = "data:" + e.File.ContentType + ";base64," + Convert.ToBase64String(ms.ToArray());
    }

    private void ClearFile() => dragDropUploadFile?.ClearSelectedFiles();
}
