<div style="min-width:500px">
    <Wizard Id="wizard" Title="Wizard">
        <Step>
            <div>Hola paso 1</div>
        </Step>
        <Step>
            <div>Adios paso 2</div>
        </Step>
        <Step>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Sexy</td>
                    </tr>
                </tbody>
            </table>
        </Step>
    </Wizard>
</div>