<div>
    <Wizard Title="Wizard" Theme="Theme.Orange">
        <Step Name="Paso 1">
            <div>Hola paso 1</div>
        </Step>
        <Step Name="Paso 5">
            <div>Adios paso 2</div>
        </Step>
        <Step>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Sexy</td>
                    </tr>
                </tbody>
            </table>
        </Step>
        <Step Name="Paso 4">
            <div>Adios paso 4</div>
        </Step>
        <Step>
            <div>Adios paso 5</div>
        </Step>
    </Wizard>
</div>