<div>
    <Wizard Title="Wizard" Colors="#4723d9" FinishButtonColor="#4723d9" DisableNavigationLinks="true">
        <Step Name="Step 1">
            <div>Hi step 1</div>
        </Step>
        <Step Name="Step 2">
            <div>Hi step 2</div>
        </Step>
        <Step>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Name</td>
                    </tr>
                </tbody>
            </table>
        </Step>
        <Step Name="Step 3">
            <div>Adios paso 4</div>
        </Step>
        <Step>
            <div>Hi step 3</div>
        </Step>
        <Step>
            <div>Hi step 3</div>
        </Step>
        <Step>
            <div>Hi step 3</div>
        </Step>
    </Wizard>
</div>

@code{
    private bool disabled = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        disabled = true;
        StateHasChanged();


        await Task.Delay(2000);
        disabled = false;
        StateHasChanged();
    }
}