@page "/wizard"

<Wizard Title="Wizard" OnFinished="@(() => Console.WriteLine("Finished"))">
    <Step>
        <div>Hola paso 1</div>
    </Step>
    <Step>
        <div>Adios paso 2</div>
    </Step>
</Wizard>

@code {

}
