<div>
    <Wizard Title="Wizard" Theme="Theme.Orange">
        <Step Name="Step 1">
            <div>Hi step 1</div>
        </Step>
        <Step Name="Step 2">
            <div>Hi step 2</div>
        </Step>
        <Step>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Name</td>
                    </tr>
                </tbody>
            </table>
        </Step>
        <Step Name="Step 3">
            <div>Adios paso 4</div>
        </Step>
        <Step>
            <div>Hi step 3</div>
        </Step>
    </Wizard>
</div>