@namespace CrahunComponents

<label>
    @Label
</label>
<label class="switch" for="@GetComponentName()">
    <InputCheckbox @bind-Value="Value" name="@GetComponentName()" style="opacity: 0" />
    <span class="slider round" @onclick="@(() => ChangeValue())"></span>
</label>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    private static int instanceNumber;

    private async Task ChangeValue()
    {
        Value = !Value;
        await ValueChanged.InvokeAsync(Value);
    }

    public InputSwitch()
    {
        InputSwitch.instanceNumber++;
    }

    private string GetComponentName() => $"switch{instanceNumber}";
}
